.menubar
    display: flex
    justify-content: space-around
    border: 0.5px 0 0 0 solid grey
    border-radius: 6px
    padding: 5px
    background-color: #F5F5F5
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.2)



.left
    flex: 1
    padding-left: 10px

.buttons
    flex: 2
    display: flex
    justify-content: space-around
    align-content: center

.right
    flex: 1

.navButton
    background-color: #F5F5F5
    color: black
    border: 0px

.navButton:hover
    background-color: #F5F5F5
    color: #C84821
    border: 0px 


.selected 
    color: #C84821
    box-shadow: none

.avatar-button
    border: 0px

img
    width: 2em
    height: 2em
    border-radius: 50%

.img-selected
    width: 5em
    height: 5em

i
    font-size: 1rem