
<div class="menubar">
    <div class="left">
        <img src="assets/logo.png" height="40" style="margin-right: 20px" />
    </div>
    <div class="buttons">


        <img *ngIf="isLogin" 
                src="https://p1.itc.cn/q_70/images03/20221110/066590f43af14f9fa7bde4b1b0259266.png"
                [ngClass]="{'selected': selectedButton === 'home'}"
                (click)="onButtonClick('profile')">
        <i *ngIf="!isLogin"
                class="pi pi-user" 
                [ngClass]="{'selected': selectedButton === 'user'}"
                (click)="onButtonClick('login')"></i>
        <i class="pi pi-home" 
                [ngClass]="{'selected': selectedButton === 'home'}"
                (click)="onButtonClick('home')"></i>
        <i class="pi pi-heart" 
                [ngClass]="{'selected': selectedButton === 'liked'}"
                (click)="onButtonClick('liked')"></i>
        <i class="pi pi-bars" 
                [ngClass]="{'selected': selectedButton === 'settings'}"
                (click)="onButtonClick('settings')"></i>




    </div>
    <div class="right"></div>
</div>


